* {
   margin: 0;
}

.App {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #383838;
  color: #383838;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
   font-size: 20px;
   font-weight: 700;
   line-height: 24px;
   text-align: center;
}

#author {
   margin-top: 15px;
   text-align: end;
   font-style: italic;
   opacity: .75;
}

#quote-box {
   background-color: white;
   border-radius: 10px;
   width: 90%;
   margin: 15px;
   padding: 15px;
}

#new-quote {
   background-color: #383838;
   border: none;
   border-radius: 5px;
   color: white;
   padding: 8px;
   cursor: pointer;
   font-weight: 600;
}

#new-quote:hover {
   opacity: .9;
}

#tweet-quote {
   background-color: #383838;
   border: none;
   border-radius: 5px;
   color: white;
   padding: 8px;
   cursor: pointer;
   text-decoration: none;
}

#tweet-quote:hover {
   opacity: .9;
}

.controls {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin-top: 30px;
}

.quotation {
   font-size: 24px;
   margin-right: 10px;
}

@media (min-width: 767px) {
   #text {
      font-size: 36px;
      line-height: 44px;
   }

   #quote-box {
      width: 50%;
      padding: 30px;
   }

   .quotation {
      font-size: 36px;
   }
}

@media (min-width: 1023px) {
   #quote-box {
      width: 30%;
      padding: 30px;
   }
}